@media only screen and (min-width: 950px) and (max-width: 3440px) {
  body {
    background-color: #ebebeb;
    margin: 0;
    width: 100%;
  }

  section {
    margin:  30px auto;
    width: 1000px;
  }

  section > article {
    width: 33%;
    text-align: center;
  }

  article:first-of-type {
    float: left;
  }

  article:nth-child(2) {
    float: right;
  }

  article:nth-child(3) {
    margin: auto;
  }

  img {
    height: 150px;
  }

  p {
    font-family: 'Montserrat', serif;
  }

  button {
    height: 14px;
    width: 74px;
    padding: 10px 50px;
    margin-bottom: 8px;
    background-color: #EBEBEB;
    border: 1px solid #D6D5D4;
    text-align: center;
  }

  button:hover {
    height: 14px;
    width: 74px;
    border: 1px solid #7B4396;
  }
}
