body {
  margin: 0;
  width: 100%;
  background-color: #395363;
  font-family: 'Arial';
  color: #B3C1C9;
}

input, textarea {
  width: 220px;
  height: 45px;
  font-family: 'Helvetica Neue';
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid white;
  margin: 10px;
}

section:first-of-type {
  width: 45%;
  height: 344px;
}

section:last-of-type {
  float: right;
  width: 45%;
  height: 240;
}

h4 {
  color: #f1f1f1;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: #B3C1C9;
}

div:first-of-type {
  float: left;
}

div:nth-child(2) {
  float: right;
}

div:nth-child(2)::after {
  clear: both;
}
