/*
======================================================================
STRUCTURE
====================================================================== */


// WRAPPER - Center content
// ======================================================================
%wrapper {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	@extend %clearfix;
}

// CLEARFIX - Prevent unwanted floating
// ======================================================================
%clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

/*
// COLUMN SPAN - Twelve column grid system (container)
// ======================================================================
@mixin colspan ($columns, $align: left) {
	width: 100%;

	@each $point,$value in $breakpoints {
		$i: index($columns, $point);

		@if $i
			and length($columns) > $i
			and type-of( nth($columns, $i + 1) ) == number
		{
			@include breakpoint($point) {
				float: $align;
				width: calc(100%/12 * #{nth($columns, $i + 1)} );
			}
		}
	}
}
]*/

/*
// POSITION - Place element
// ======================================================================
@mixin position ($position, $args: NULL){
	position: $position;

	$sides: top right bottom left;
	@each $side in $sides {
		$i: index($args, $side);
		@if $i
		and length($args) > $i
		and type-of( nth($args, $i + 1) ) == number {
			#($side): nth($args, $i + 1);
		}
	}
}
*/
/*
// BREAKPOINTS - Dynamic media queries, mobile first
// ======================================================================

@mixin breakpoint ($point) {
	@media (min-width: map-get($breakpoints, $point)) {
		@content;
	}
}
*/
// TRIANGLE - Border triangle
// ======================================================================
@mixin triangle($direction, $size, $color) {

	width: 0;
	height: 0;

	@if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	}
	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	}
	@if $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	}
	@if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	}
}
