/*
======================================================================
STRUCTURE
====================================================================== */


// WRAPPER - Center content
// ======================================================================
%wrapper {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	@extend %clearfix;
}

// CLEARFIX - Prevent unwanted floating
// ======================================================================
%clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// COLUMN SPAN - Twelve column grid system (container)
// ======================================================================
@mixin colspan ($columns, $align: left) {
	width: 100%;

	@include breakpoint (600px) {
		float: $align;
		width: calc(100%/12 * #{$columns});
	}

}

// POSITION - Place element
// ======================================================================


// BREAKPOINTS - Dynamic media queries, mobile first
// ======================================================================

@mixin breakpoint ($point) {
	@media (min-width: $point) {
		@content;
	}
}

// TRIANGLE - Border triangle
// ======================================================================
@mixin triangle($direction, $size, $color) {

	width: 0;
	height: 0;

	@if $direction == up {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	}
	@if $direction == down {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	}
	@if $direction == left {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	}
	@if $direction == right {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	}
}
