body {
  background-color: #3d3935;
  font-family: 'Arial';
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
  padding: 10px;
  text-decoration: none;
}

ul {
  padding-left: 0px;
  width: 420px;
}

p {
  margin-left: 5px;
  text-align: center;
  width: 450px;
}

li {
  display: inline;
}

li:after
{
  content: ' |';
}
li:last-child:after
{
  content: '';
}

input {
  width: 195px;
  height: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #FFFFFF;
  border: 2px solid white;
}

form {
  width: 220px;
  float: left;
}

input:last-of-type {
  background-color: #e1441d;
  width: 209.5px;
  height: 25px;
  border: 1px solid #e1441d;
  color: #FFFFFF;
  margin-left: 5px;
  margin-top: 5px;
}

img {
  height: 30px;
  float: left;
}

footer {
  width: 500px;
  float: left;
}
