/*
======================================================================
ABOUT
====================================================================== */
#about article {
  width: 50%;
  float: left;
  border: 1px solid green;

  &:nth-of-type(2n+1) {
    text-align: right;
  }
}
