/*
======================================================================
STRUCTURE
====================================================================== */
body {
  background-color: #FAFAFA;
}


// SECTIONS
// ======================================================================
section {
  @extend %wrapper;
  padding: 50px 0;
  border: 1px solid blue;
}
