/*
======================================================================
STYLEGUIDE
====================================================================== */

	// BODY - Defualt for paragraphs
	// ======================================================================
	html { font-size: 62.5% } // 10px
	body {
		font: 1.6rem/1.4 sans-serif;
	}


/*
======================================================================
TYPOGRAPHY
====================================================================== */


	// HEADINGS - Typographic hiearchy
	// ======================================================================
	h1, h2, h3, h4, h5, h6 {}
	h1 {
		font-size: 2.4rem;
	}


	// LISTS
	// ======================================================================


	// ACCENTS - Special characters
	// ======================================================================
	strong, em { font-weight: 600; }
	a {}



/*
======================================================================
IMAGERY
======================================================================*/

	// IMAGES
	// ======================================================================



/*
======================================================================
FORMS
====================================================================== */

	// INPUTS - Labels before input using for attribute
	// ======================================================================
