/*
======================================================================
TEAM
====================================================================== */
#team {
  text-align: center;
}

#team article {
  width: 25%;
  float: left;
  border: 1px solid red;

  img {
    width: 100px;
    height: 100px;
    background-color: #cccccc;
    border-radius: 50%;
  }

  p:last-child a {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #333333;
    border-radius: 50%;
    text-indent: -9999px;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 3px);
      @include triangle(right, 10px, $color_accent);
    }
  }
}
