/* 
======================================================================
STRUCTURE
====================================================================== */
body { 
	background: #fafafa; 
}


// SECTIONS
// ======================================================================
section {
	@extend %wrapper;
	padding: 50px 20px;
	
	header {
		margin: 0 auto 40px auto;
		padding: 15px;
		text-align: center;
		
		p { color: #cccccc; }
	}
	
}