/* 
======================================================================
TEAM
====================================================================== */
#team {
	text-align: center;
}

#team article {
	width: 25%;
	float: left;
	padding: 20px;
	
	img {
		display: block;
		width: 120px;
		height: 120px;
		margin: 0 auto;
		background-color: #cccccc;
		border-radius: 50%;
		border: none;
		outline: none;
	}
	
	// SOCIAL ICONS
	// ======================================================================	
	ul { margin-top: 20px; }
	li { display: inline-block; }
	li a {
		display: block;
		width: 18px;
		height: 18px;
		margin: 0 7px;
		border-radius: 5px;
		text-indent: -9999px;
	}
	.facebook a { background: url('images/facebook.jpg') no-repeat center center; background-size: 18px; }
	.twitter a { background: url('images/twitter.jpg') no-repeat center center; background-size: 18px; }
	.google a { background: url('images/google.jpg') no-repeat center center; background-size: 18px; }
	
	// VIEW MORE
	// ======================================================================
	p:last-child a {
		position: relative;
		display: inline-block;
		width: 25px;
		height: 25px;
		margin: 10px 0 5px 0;
		border-radius: 50%;
		background-color: #333333;
		text-indent: -9999px;
		
		&:hover { background-color: $color_accent; }
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 6px);
			left: calc(50% - 2px);
			@include triangle(right, 6px, #ffffff);
		}
		
	}	
}
