@media only screen and (min-width: 950px) and (max-width: 3440px) {
  body {
    background-color: #ebebeb;
    margin: 0;
    width: 100%;
  }

  div {
    width: 95%;
    margin: 0 auto;
    border: 1px solid red;
    overflow: hidden;
  }

  img {
    height: 150px;
  }

  article {
    width: 25%;
    border: 1px solid red;
    float: left;
    padding: 20px;
    text-align: center;
  }

  p {
    font-family: 'Montserrat', serif;
  }

  button {
    height: 14px;
    width: 74px;
    padding: 10px 50px;
    margin-bottom: 8px;
    background-color: #EBEBEB;
    border: 1px solid #D6D5D4;
    text-align: center;
  }

  button:hover {
    height: 14px;
    width: 74px;
    border: 1px solid #7B4396;
  }
}
